<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
</head>

<body>

  {{! reset password }}

  <form onsubmit="return setActionAndMethod(this)">
    {{error}}
    <input type="hidden" name="forget_password_token" value="{{forget_password_token}}" />
    <input type="password" name="password" placeholder="New Password" />
    <input type="password" name="confirm_password" placeholder="Confirm Password" />
    <button type="submit">Reset Password</button>
  </form>

  {{!-- <form action="/user/reset-password/" method="POST">
    {{error}}
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="password_confirmation" placeholder="Confirm Password" />
    <button type="submit">Reset Password</button>
  </form> --}}

</body>

<script>
  function setActionAndMethod(form) {
    form.action = "/user/reset-password";
    form.method = "post";
    return true;
  }

</html >