<link rel="stylesheet" href="../../css/partials/footer.css">

<footer class="footer-section container-fluid p-0 m-0 bg-gradient" id="footer">

    <div class="copyright-text text-center">
        <p>
        </p>
    </div>



</footer>

<script>
    const year = new Date().getFullYear();
    document.querySelector('.copyright-text p').innerHTML = `Copyright &copy; ${year}, All Right Reserved <a href="https://piyushanand.in/">Piyush Anand</a>`;
</script>