<head>
    <link rel="stylesheet" href="../../css/partials/header.css">
</head>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="navbar-brand h2">{{user.displayName}}<sub> by <a href="/dashboard">Link
                Keeper</a></sub>
    </div>
</nav>